
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.uno{
    width: 400px;
    background: #b1d2f3;
    padding: 60px;
    margin: auto;
    margin-top: 150px;
    border-radius: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    background: url(fondoazul.jpn.avif);  
}
footer{
    position: static;
    bottom: 0;
    width: 50%;
    border: none;
    padding: 12px;
    background-color: rgba(76, 199, 199, 0.755);
    color: rgb(10, 9, 9);
    margin: 16px 0;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 20%;

}
.unoDos{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(21, 215, 118);  
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
    


}
.fondo{
    margin: -15%;
    padding: -5px;
    background-color: #766b72;
    background-size: cover;
    
    font-family: sans-serif;

}
.fondoDos{
    margin: -15%;
    padding: -5px;
    background: url(hospitalOcho.jpg);   
    background-size: cover;
    
    font-family: sans-serif;
}
.unoDosTres{
    width: 100%;
    background:#b1d2f3;
    padding: 10px ;
    border-radius: 4px ;
    margin-bottom: 20px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.unoDosTresCuatro{
    height: 40%;
    text-align: center;
    font-size: 18px;
    color: black;
}
.bb{
width: 100%;
    border: none;
    padding: 12px;
    background-color: rgb(110, 110, 234);
    color: rgb(255, 255, 255);
    margin: 16px 0;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 20%;
}
.lT{
    width: 100%;
        font-size: 30px;
    margin-bottom: 30px;
        color: #dde1e8;
    background: #586fa0;
    padding: 10px ;
    border-radius: 4px ;
    margin-bottom: 40px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;    
    font-size: 110%;
    display: inline-block;
}
.dos{
    width: 400px;
background: #e9795f;
padding: 30px;
margin: auto;
margin-top: 100px;
border-radius: 4px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: white;
text-align: center;
background: url(hospitalsiete.jpg);
}
.dosDos{
    font-size: 40px;
margin-bottom: 30px;
text-align: center;
background-color: rgb(17, 111, 206);  
font-family:'Times New Roman', Times, serif
font-size: 100%;
}
.dosTres{
    width: 100%;
background: #eceff6;
padding: 10px ;
border-radius: 4px ;
margin-bottom: 20px;
border: 1px solid #42bcd7;
font-size: 18px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
display: inline-block;
}
.letra{
    width: 100%;
    font-size: 30px;
margin-bottom: 30px;
    color: #4f4f5b;
background: #d75d42;
padding: 10px ;
border-radius: 4px ;
margin-bottom: 40px;
font-size: 18px;
font-family: 'Times New Roman', Times, serif;    
font-size: 140%;
display: inline-block;
}

.dosCuatro{
    height: 40%;
text-align: center;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
color: #000000;
}
.bt{
    width: 100%;
border: none;
padding: 12px;
background-color: blue;
color: rgb(255, 255, 255);
margin: 16px 0;
font-size: 16px;
}
        
.tres{
    width: 400px;
background: #7ce378;
padding: 30px;
margin: auto;
margin-top: 100px;
border-radius: 4px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: rgb(69, 81, 71);
text-align: center;
background: url(hospitalNueve.jpg);
}
.tresT{
    font-size: 30px;
margin-bottom: 30px;
text-align: center;
background-color: rgb(68, 211, 49);  
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
font-size: 200%;
}
.tresDos{
    width: 100%;
background: #eaeceb;
padding: 10px ;
border-radius: 4px ;
margin-bottom: 20px;
border: 1px solid #d3d9e6;
font-size: 18px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.letraDos{
    width: 100%;
font-size: 30px;
margin-bottom: 30px;
color: #f5f7fb;
background: #7ce378;
padding: 10px ;
border-radius: 4px ;
margin-bottom: 40px;
font-size: 18px;
font-family: 'Times New Roman', Times, serif;    
font-size: 140%;
}
.boto{
    width: 100%;
border: none;
padding: 12px;
background-color:blue;
color: rgb(255, 252, 252);
margin: 16px 0;
font-size: 16px;
}
.bbVolver{
    width: 100%;
    border: none;
    padding: 12px;
    background-color: blue;
    color: rgb(255, 255, 255);
    margin: 16px 0;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 20%;
}
.tablaUno{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50%;
    background-color:#f0bcdf;
}

table {
    color: #53bcd9;
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 0;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 2px solid #907788;
    background-color: #34b9c8;


}

td {
    color: #fff;
    padding: 15px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 20px;
    text-transform: uppercase;
}
.titulo{
    margin: 0;
    text-transform: uppercase
    text-aling: center;
    color: #ffffff;
}
.listadobb{
    margin-top: 50px;
    background-color: #4f4f5b;
    padding: 30%;
    color: #d75d42;
    text-decoration: none;
   
}
